body {
    background-color: #272638;
}

.buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: linear-gradient(to right, #00b7ff, #ffffc7);
    border-radius: 40px;
    color: #272638;
    height: 50px;
    width: 160px;
    outline: white;
    font-family: fontBold;
    font-size: 20px;
}

.searchButton {
    display: block;
    margin-left: 60%;
    margin-right: auto;
    margin-top: 5px;
    background: linear-gradient(to right, #00b7ff, #ffffc7);
    border-radius: 40px;
    color: #272638;
    height: 3%;
    width: 9.5%;
    outline: white;
    font-family: fontBold;
    font-size: 20px;
}

@font-face {
    font-family: fontBold;
    src: url(../fonts/mont/Mont-HeavyDEMO.otf);
}

@font-face {
    font-family: fontLight;
    src: url(../fonts/mont/Mont-ExtraLightDEMO.otf);
}

.Indexlogo {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    max-height: 350px;
    position: relative;
}

.logo {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: auto;
    max-width: 100px;
    max-height: 100px;
    position: relative;
}

.header {
    width: 100vw;
    height: 100px;
    background-color: #403e5b;
    margin-left: -9px;
    margin-top: -10px;
}

.nav {
    display: inline;
    color: white;
    font-weight: normal;
    font-family: fontLight;
}

.navLinks {
    position: relative;
    margin-top: -65px;
    color: white;
    text-align-last: center;
}

.welcomeHeader {
    position: relative;
    margin-top: -90px;
    color: white;
    text-align-last: center;
    font-family: fontLight;
}

.questions {
    color: white;
    text-align-last: center;
    margin-top: 35px;
}

.searchText {
    position: relative;
    margin-left: -24.5%;
    margin-right: auto;
    margin-bottom: 4px;
    font-family: fontLight;
}

.search {
    position: relative;
    width: 43%;
    height: 25px;
    background-color: #272638;
    border: solid 2px white;
    color: white;
}

.postedText {
    margin-left: -40.5%;
    margin-top: 3%;
    font-family: fontLight;
}

.navCurrent {
    display: inline;
    color: white;
    font-family: fontBold;
}

.bar {
    position: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-color: white;
    height: 95%;
    width: 2px;
}

.wrapper {
    height: 90vh;
}

.postButton {
    display: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: linear-gradient(to right, #00b7ff, #ffffc7);
    border-radius: 40px;
    color: #272638;
    height: 50px;
    width: 200px;
    outline: white;
    font-family: fontBold;
    font-size: 20px;
}

.leftSide {
    margin-top: -90vh;
    margin-left: 20%;
    color: white;
    font-family: fontLight;
}

.profilePic {
    position: relative;
    width: 25%;
    border-radius: 50%;
    margin-left: -2vw;
}

.login {
    width: 400px;
    height: 25px;
    background-color: #272638;
    border: solid 2px white;
    color: white;
    margin-top: 0px;
}

.leftSide h2 {
    margin-bottom: 0%;
}

.leftSide h2, input {
    margin-left: -5%;
}

.uploadPic {
    display: block;
    margin-left: 2%;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    background: linear-gradient(to right, #00b7ff, #ffffc7);
    border-radius: 40px;
    color: #272638;
    height: 50px;
    width: 200px;
    outline: white;
    font-family: fontBold;
    font-size: 20px;
}

.loginPage {
    color: white;
    font-family: fontLight;
    text-align: center;
    margin-top: 4%;
}

.centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.centered input {
    position: relative;
    width: 300px;
    height: 25px;
    background-color: #272638;
    border: solid 2px white;
    color: white;
    margin-left: 5%;
    margin-top: 2%;
}

.required:before {
    content:"* ";
    color:red;
}

.submit {
    display: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background: linear-gradient(to right, #00b7ff, #ffffc7);
    border-radius: 40px;
    color: #272638;
    height: 4%;
    width: 9.5%;
    outline: white;
    font-family: fontBold;
    font-size: 20px;
}

.topic {
    position: relative;
    font-family: fontLight;
    font-size: 20px;
    left: -22%;
}

.title {
    position: relative;
    text-align: left;
    font-family: fontBold;
    font-size: 25px;
    color: white;
    margin-bottom: -1.2%;
    margin-left: -35%;
}

.edit {
    font-family: fontLight;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.centered tr {
    margin-left: -30%;
}

.delete {
    display: relative;
    background: linear-gradient(to right, #00b7ff, #ffffc7);
    border-radius: 40px;
    color: #272638;
    height: 25px;
    width: 100px;
    outline: white;
    font-family: fontBold;
    font-size: 15px;
    margin-left: 10%;
}

a {
    text-decoration: none;
    color: white;
}

.divider {
    position: relative;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 1px;
}

p {
    font-family: fontLight;
    text-align: left;
}

.asked {
    margin-left: -40%;
}

p.body {
    margin-left: -25%;
    text-align: left;
}