<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aardvark Answers</title>
        <meta name="Home" content="3155 Project">
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
    </head>
    <body>
        <img src="./static/Images/LogoText.png" alt="Aardvark Answers Logo" class="Indexlogo">

        <form method="GET" action="./login">
            <button class="buttons">Login</button>
        </form>

        <form method="GET" action="./register">
            <button class="buttons">Register</button>
        </form>
    </body>
</html>
