<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aardvark Answers</title>
        <meta name="Home" content="3155 Project">
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
    </head>
    <body>
        <div class="header">
            <a href="{{ url_for('questions') }}">
                <img src="../static/Images/AardvarkLogo.png" alt="Aardvark Answers Logo" class="logo">
            </a>
            <div class="navLinks">
                <a href="{{ url_for('questions') }}">
                    <h2 class="navCurrent">Home</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a>
                    <h2 class="nav">Reviews</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('profile') }}">
                    <h2 class="nav">My Account</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('index') }}">
                    <h2 class="nav">Logout</h2>
                </a>
            </div>
        </div>
        <div class="newQuestion">

            {% if question %}
                <form action="{{ url_for('update_question', question_id=question.id) }}" method="post">
            {% else %}
                <form action ="new_question" method="post">
            {% endif %}
                <p><label>Question</label></p>
                <p><input type="text" name="topics" value="{% if question %}{{question.topic}} {% endif %}"/></p>
                <p> <input type="text" name="header" value="{% if question %}{{question.header}} {% endif %}"/></p>
                <p><label>Description </label></p>
                <p>
                    <textarea name="body" rows="10" cols="0">
                        {% if question %}
                            {{question.body}}
                        {% else %}
                            Add your question description here!!
                        {% endif %}

                    </textarea>
                </p>
                <p>
                    {% if question %}
                        <input type="submit" value="Update Question"/>
                    {% else %}
                        <input type="submit" value="Add Question"/>
                    {% endif %}
                </p>
            </form>
            </form>
        </div>
    </body>
</html>
