<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aardvark Answers</title>
        <meta name="Home" content="3155 Project">
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>
        <div class="header">
            <a href="{{ url_for('questions') }}">
                <img src="../static/Images/AardvarkLogo.png" alt="Aardvark Answers Logo" class="logo">
            </a>
            <div class="navLinks">
                <a href="{{ url_for('questions') }}">
                    <h2 class="navCurrent">Home</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a>
                    <h2 class="nav">Reviews</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('profile') }}">
                    <h2 class="nav">My Account</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('logout') }}">
                    <h2 class="nav">Logout</h2>
                </a>
            </div>
        </div>
        <div class="questions">

            {% if question %}
                <form action="{{ url_for('update_question', question_id=question.id) }}" method="post">
            {% else %}
                <form action ="new_question" method="post">
            {% endif %}
                    <p><label class="searchText">Title</label></p>
                    <p><input class="search" type="text" name="header" value="{% if question %}{{question.header}} {% endif %}"/></p>
                    <p><label class="searchText">Topics</label></p>
                    <!-- <p><input class="search" type="text" name="topics" value="{% if question %}{{question.topic}} {% endif %}"/></p> -->
                    <p><label class="searchText">Question </label></p>
                    <p>
                        <textarea name="body" rows="10" cols="0" class="body">
                            {% if question %}
                                {{question.body}}
                            {% else %}
                                Type your review here
                            {% endif %}

                        </textarea>
                    </p>
                    <p>
                        {% if question %}
                            <input class=postButton type="submit" value="Update Question"/>
                        {% else %}
                            <input class=postButton type="submit" value="Add Question"/>
                        {% endif %}
                    </p>
                </form>
                </form>
        </div>
    </body>
</html>

