<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aardvark Answers</title>
        <meta name="Home" content="3155 Project">
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body class="profileBody">
        <div class="header">
            <a href="{{ url_for('questions') }}">
                <img src="../static/Images/AardvarkLogo.png" alt="Aardvark Answers Logo" class="logo">
            </a>
            <div class="navLinks">
                <a href="{{ url_for('questions') }}">
                    <h2 class="nav">Home</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('reviews') }}">
                    <h2 class="nav">Reviews</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('profile') }}">
                    <h2 class="navCurrent">My Account</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('logout') }}">
                    <h2 class="nav">Logout</h2>
                </a>
            </div>
        </div>
        <div class="wrapper">
            <div class="bar"></div>
        </div>
        <div class="leftSide">
            <h1>Account Overview</h1>
            <h1>{% if user %}{{user}}{% endif %}</h1>
            <img src="../static/Images/AardvarkLogo.png" class="profilePic" alt="Profile Picture">
            <form>
                <button class="uploadPic">Upload Photo</button>
            </form>
            <form action="{{ url_for('register', user_id=user.id) }}" method="GET">
                <button class="profileButton">Change Password</button>
            </form>
        </div>
        <div class="rightSide">
            <div class="tabs">
                <div class="tab">
                    <input type="radio" id="tab-1" name="tab-group-1" checked>
                    <label for="tab-1" class="tab">Questions</label>
                    <div class="content">
                        {% for question in questions %}
                            <p><a href="{{ url_for('view_question', question_id=question.id) }}">&#8226;&nbsp;&nbsp;{{ question.header }}</a></p>
                            <div class="divider"></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" id="tab-2" name="tab-group-1">  
                    <label for="tab-2" class="tab">Responses</label>
                    <div class="content">
                            {% for comment in comments %}
                                <p>{{ comment.content }}</p>
                                <div class="divider"></div>
                            {% endfor %}
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" id="tab-3" name="tab-group-1">
                    <label for="tab-3" class="tab">Likes</label>
                    <div class="content">
                        <p>Test</p>
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" id="tab-4" name="tab-group-1">
                    <label for="tab-4" class="tab">Dislikes</label>
                    <div class="content">
                        <p>Test</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
