<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aardvark Answers</title>
        <meta name="Home" content="3155 Project">
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body class="profileBody">
        <div class="header">
            <a href="{{ url_for('questions') }}">
                <img src="../static/Images/AardvarkLogo.png" alt="Aardvark Answers Logo" class="logo">
            </a>
            <div class="navLinks">
                <a href="{{ url_for('questions') }}">
                    <h2 class="nav">Home</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('reviews') }}">
                    <h2 class="nav">Reviews</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('profile') }}">
                    <h2 class="navCurrent">My Account</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('logout') }}">
                    <h2 class="nav">Logout</h2>
                </a>
            </div>
        </div>
        <div class="wrapper">
            <div class="bar"></div>
        </div>
        <div class="leftSide">
            <h1>Account Overview</h1>
            <img src="../static/Images/profilePic.jpg" class="profilePic" alt="Profile Picture">
            <form>
                <button class="uploadPic">Upload Photo</button>
            </form>
            <form action="{{ url_for('register', user_id=user.id) }}" method="GET">
                <button class="profileButton">Change Password</button>
            </form>
        </div>
        <div class="rightSide">
            <h1 class="heading">Your Questions</h1>
            <table class="centered">
                {% for question in questions %}
                <div class="questionSpacer">
                    <tr>
                        <p class="title"><a href="{{ url_for('view_question', question_id=question.id) }}">{{ question.header }}></a></p>
                    </tr>
                    <div class="divider"></div>
                    <tr>
                        <p class="topic">Topic: {{ question.topics }}</p>
                    </tr>
                </div>
                {% endfor %}
            </table>
        </div>
      </form>
    </body>
</html>
