<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aardvark Answers</title>
        <meta name="Home" content="3155 Project">
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
    </head>
    <body>
        <div class="header">
            <a href="{{ url_for('questions') }}">
                <img src="../static/Images/AardvarkLogo.png" alt="Aardvark Answers Logo" class="logo">
            </a>
            <div class="navLinks">
                <a href="{{ url_for('questions') }}">
                    <h2 class="navCurrent">Home</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a>
                    <h2 class="nav">Reviews</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('profile') }}">
                    <h2 class="nav">My Account</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('index') }}">
                    <h2 class="nav">Logout</h2>
                </a>
            </div>
        </div>
        <form method="GET" action="./new_question">
            <button class="postButton">Post a Question</button>
        </form>
        <div class="questions">
            <h3 class="searchText">Search questions, topics, and accounts</h3>
            <form>
                <input class="search"></input>
            </form>
            <button class="searchButton">Search</button>
            <div class="posts">
<!-- We will need to add a conditional here to display "There are no posts" when empty. -->
                <h3 class="postedText">Recently Posted</h3>
                <table>
                    {% for question in questions %}
                    <tr>
                        <td>{{ question.header }}</td>
                        <td>{{ question.body }}</td>
                        <td>{{ question.topics }}</td>
                        <td><a href="{{ url_for('update_question', question_id=question.id) }}">Edit</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>
