<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aardvark Answers</title>
        <meta name="Home" content="3155 Project">
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="header">
            <a href="{{ url_for('questions') }}">
                <img src="../static/Images/AardvarkLogo.png" alt="Aardvark Answers Logo" class="logo">
            </a>
            <div class="navLinks">
                <a href="{{ url_for('questions') }}">
                    <h2 class="navCurrent">Home</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('reviews') }}">
                    <h2 class="nav">Reviews</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('profile') }}">
                    <h2 class="nav">My Account</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('logout') }}">
                    <h2 class="nav">Logout</h2>
                </a>
            </div>
        </div>

        <form method="GET" action="./new_question">
            <button class="postButton">Post a Question</button>
        </form>

        <div class="questions">
            <div class="leftText">
<!-- We will need to add a conditional here to display "There are no posts" when empty. -->
                <h3 class="heading">Recently Posted:</h3>
                <table class="centered">
                    {% for question in questions %}
                    <div class="questionSpacer">
                    <tr>
                        <p class="title"><a href="{{ url_for('view_question', question_id=question.id) }}">
                            {{ question.header }}</a></p>
                        {% for user in users %}
                        {% if question.user_id == user.id %}
                        <p class="asked">Asked By: {{ user.name }}</p> <!--This will be fixed later -->
                        {% endif %}
                        {% endfor %}
                    </tr>
                    <div class="divider"></div>
                    <tr>
                        <p class="bodyDisplay">{{ question.body }}</p>
                    </tr>
                    <tr>
                        <p class="topic">Topic: {{ question.topics }}</p>
                    </tr>
                    <br><br><br>
                    <tr>
                        {% for user_q in user_questions %}
                            {% if question.id == user_q.id %}
                                <div class="buttonDiv">
                                    <div class="edit">
                                        <td>
                                            <form action="{{ url_for('update_question', question_id=question.id) }}" method="GET">
                                                <button type="submit" value="Edit" class="questionButton">Edit</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form action="{{ url_for('delete_question', question_id=question.id) }}" method="POST">
                                                <button type="submit" value="Delete" class="questionButton">Delete</button>
                                            </form>
                                        </td>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </div>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>
