<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aardvark Answers</title>
        <meta name="Home" content="3155 Project">
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>
        <div class="header">
            <a href="{{ url_for('questions') }}">
                <img src="../static/Images/AardvarkLogo.png" alt="Aardvark Answers Logo" class="logo">
            </a>
            <div class="navLinks">
                <a href="{{ url_for('questions') }}">
                    <h2 class="navCurrent">Home</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('reviews') }}">
                    <h2 class="nav">Reviews</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('profile') }}">
                    <h2 class="nav">My Account</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('logout') }}">
                    <h2 class="nav">Logout</h2>
                </a>
            </div>
        </div>

        <form method="GET" action="./new_question">
            <button class="postButton">Post a Question</button>
        </form>

        <div class="questions">
            <h3 class="searchText">Search questions, topics, and accounts</h3>
            <form>
                <input class="search"></input>
            </form>
            <button class="searchButton">Search</button>

            <div class="leftText">
<!-- We will need to add a conditional here to display "There are no posts" when empty. -->
                <h3>Recently Posted:</h3>
                <table class="centered">
                    {% for question in questions %}
                    <tr>
                        <p class="title"><a href="{{ url_for('view_question', question_id=question.id) }}">{{ question.header }}</a></p>
                        <p class="asked">Asked By: </p> <!--This will be fixed later -->
                    </tr>
                    <div class="divider"></div>
                    <tr>
                        <p class="body">{{ question.body }}</p>
                    </tr>
                    <tr>
                        <p class="topic">{{ question.topics }}</p>
                    </tr>
                    <tr>
                        <div class="edit">
                            <form action="{{ url_for('new_question', question_id=question.id) }}" method="post">
                                <button type="submit" class="delete">Edit</button>
                            </form>
                            <form action="{{ url_for('delete_question', question_id=question.id) }}" method="post">
                                <input type="submit" style="width: 90%;" value="Delete">
                            </form>
                        </div>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>
