<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aardvark Answers</title>
        <meta name="Home" content="3155 Project">
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>
        <div class="header">
            <img src="../static/Images/AardvarkLogo.png" alt="Aardvark Answers Logo" class="logo">
            <div class="welcomeHeader">
                <h1>Welcome to Aardvark Answers</h1>
                <h2 class="subTitle">Login</h2>
                <!-- Once we get accounts functional we need to add a logout button -->
            </div>
        </div>
        <div class="loginPage">
            <form method="POST" action="/register">
                <div class="form-field3">{{ form.name.label }} {{ form.name }}
                    {% if form.name.errors %}
                    <ul class="errors">
                        {% for error in form.name.errors %}
                        <p class="error">{{ error }}</p>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field3">{{ form.email.label }} {{ form.email }}
                    {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <p class="error">{{ error }}</p>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field3">{{ form.password.label }} {{ form.password }}
                    {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                        <p class="error">{{ error }}</p>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field3">{{ form.confirmPassword.label }} {{ form.confirmPassword }}
                    {% if form.confirmPassword.errors %}
                    <ul class="errors">
                        {% for error in form.confirmPassword.errors %}
                        <p class="error">{{ error }}</p>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit }}
            </form>
            <form method="GET" action="/index">
                <button class="button">Back</button>
            </form>
        </div>
    </body>
</html>
