<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aardvark Answers</title>
        <meta name="Home" content="3155 Project">
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>
        <div class="header">
            <a href="{{ url_for('questions') }}">
                <img src="../static/Images/AardvarkLogo.png" alt="Aardvark Answers Logo" class="logo">
            </a>
            <div class="navLinks">
                <a href="{{ url_for('questions') }}">
                    <h2 class="nav">Home</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('reviews') }}">
                    <h2 class="navCurrent">Reviews</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('profile') }}">
                    <h2 class="nav">My Account</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('logout') }}">
                    <h2 class="nav">Logout</h2>
                </a>
            </div>
        </div>

        <form method="GET" action="./new_review">
            <button class="postButton">Post a Review</button>
        </form>

	    <div class="leftText">
<!-- We will need to add a conditional here to display "There are no posts" when empty. -->
                <h3 class="postedText">Recently Posted:</h3>

                <table class="centered">
                    {% for review in reviews %}
                    <tr>
                        <p class="title"><a href="{{ url_for('new_review', review_id=review.id) }}">{{ review.header }}</a></p>
                        <p class="asked">Posted By: </p> <!--This will be fixed later -->
                    </tr>
                    <div class="divider"></div>
                    <tr>
                        <p class="body">{{ review.body }}</p>
                    </tr>
                    <tr>
                        <div class="buttonDiv">
                            <form action="{{ url_for('new_review',review_id=review.id) }}" method="post">
                                <button class="questionButton">Edit</button>
                            </form>
                            <form action="{{ url_for('delete_review', review_id=review.id) }}" method="post">
                                <button type="submit" value="Delete" class="questionButton">Delete</button>
                            </form>
                        </div>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>

