<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aardvark Answers</title>
        <meta name="Home" content="3155 Project">
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>
        <div class="header">
            <a href="{{ url_for('questions') }}">
                <img src="../static/Images/AardvarkLogo.png" alt="Aardvark Answers Logo" class="logo">
            </a>
            <div class="navLinks">
                <a href="{{ url_for('questions') }}">
                    <h2 class="nav">Home</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('reviews') }}">
                    <h2 class="navCurrent">Reviews</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('profile') }}">
                    <h2 class="nav">My Account</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('logout') }}">
                    <h2 class="nav">Logout</h2>
                </a>
            </div>
        </div>

        <form method="GET" action="./new_review">
            <button class="postButton">Post a Review</button>
        </form>

	    <div class="reviews">
            <div class="leftText">
<!-- We will need to add a conditional here to display "There are no posts" when empty. -->
                <h3 class="heading">Recently Posted:</h3>
                <table class="centered">
                    {% for review in reviews %}
                    <div class="questionSpacer">
                    <tr>
                        {% for user in users %}
                            {% if review.user_id == user.id %}
                                <p class="title">Posted By: {{ user.name }}</p> <!--This will be fixed later -->
                            {% endif %}
                        {% endfor %}
                        <p class="bodyDisplay">Date Posted: {{ review.date }}</p>
                    </tr>
                    <div class="divider"></div>
                    <tr>
                        <p class="bodyDisplay">{{ review.body }}</p>
                    </tr>
                    <tr>
                        {% for user_q in user_reviews %}
                            {% if review.id == user_q.id %}
                                <div class="buttonDiv">
                                    <div class="edit">
                                        <td>
                                            <form action="{{ url_for('update_review', review_id=review.id) }}" method="get">
                                                <button type="submit" value="Edit" class="questionButton">Edit</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form action="{{ url_for('delete_review', review_id=review.id) }}" method="post">
                                                <button type="submit" value="Delete" class="questionButton">Delete</button>
                                            </form>
                                        </td>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </div>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>

