<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aardvark Answers</title>
        <meta name="Home" content="3155 Project">
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}" />
    </head>
    <body>
        <div class="header">
            <a href="{{ url_for('questions') }}">
                <img src="../static/Images/AardvarkLogo.png" alt="Aardvark Answers Logo" class="logo">
            </a>
            <div class="navLinks">
                <a href="{{ url_for('questions') }}">
                    <h2 class="nav">Home</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a>
                    <h2 class="nav">Reviews</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('profile') }}">
                    <h2 class="nav">My Account</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('logout') }}">
                    <h2 class="nav">Logout</h2>
                </a>
            </div>
        </div>
        <div class="leftText">
            <h1>Question</h1>
            <p>{{ question.header }}></p>
            <h3>Topics</h3>
            <p>{{ question.topics }}</p>
            <h3>Description</h3>
            <p>{{ question.body }}</p>

            <!--trying liking a post here-->
            {% for question in questions %}
              {% if the_user.liked_question(question) %}
                <a href="{{ url_for('like', question_id=question.id, action='unlike') }}">Unlike</a>
              {% else %}
                <a href="{{ url_for('like', question_id=question.id, action='like') }}">Like</a>
              {% endif %}
            {% endfor %}
        </div>

        <div class="leftText">
             {% if question.comments %}
              {% if question.comments|length > 0 %}
                <h2>Answers</h2>
                <ul>
                {% for comment in question.comments %}
                  <li>{{ comment.content }}</li>
                {% endfor %}
                </ul>
                <br><br><br>
              {% endif %}
            {% endif %}
              <form action="{{ url_for('new_comment', question_id=question.id) }}" method="post">
                <div class="titleDiv">
                  <h2 class="title">Add an answer</h2>
                </div>
                  <div class="form-field">
                    {{ form.comment.label }} <br/> {{ form.comment }}
                  </div>
                  {{ form.submit }}
              </form>
        </div>
    </body>
</html>

