<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aardvark Answers</title>
        <meta name="Home" content="3155 Project">
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>
        <div class="header">
            <a href="{{ url_for('questions') }}">
                <img src="../static/Images/AardvarkLogo.png" alt="Aardvark Answers Logo" class="logo">
            </a>
            <div class="navLinks">
                <a href="{{ url_for('questions') }}">
                    <h2 class="navCurrent">Home</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a>
                    <h2 class="nav">Reviews</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('profile') }}">
                    <h2 class="nav">My Account</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('index') }}">
                    <h2 class="nav">Logout</h2>
                </a>
            </div>
        </div>
        <div class="questions">
            <h1 class="postedText">Title</h1>
            <p>{{ question.header }}></p>
            <h3 class="postedText">Topics</h3>
            <p>{{ question.topics }}</p>
            <h3 class="postedText">Question</h3>
            <p>{{ question.body }}</p>
        </div>
    </body>
</html>

