<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aardvark Answers</title>
        <meta name="Home" content="3155 Project">
		<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}" />
    </head>
    <body>
        <div class="header">
            <a href="{{ url_for('questions') }}">
                <img src="../static/Images/AardvarkLogo.png" alt="Aardvark Answers Logo" class="logo">
            </a>
            <div class="navLinks">
                <a href="{{ url_for('questions') }}">
                    <h2 class="nav">Home</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('reviews') }}">
                    <h2 class="nav">Reviews</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('profile') }}">
                    <h2 class="nav">My Account</h2>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{ url_for('logout') }}">
                    <h2 class="nav">Logout</h2>
                </a>
            </div>
        </div>
        <div class="leftText">
            <h1>Question</h1>
            <p>{{ question.header }}></p>
            <h3>Topics</h3>
            <p>{{ question.topics }}</p>
            <h3>Description</h3>
            <p>{{ question.body }}</p>
        </div>
        <br/>
        <div class="leftText">
            {% if question.comments %}
             {% if question.comments|length > 0 %}
             <h2>Answers</h2>
             <ul>
                 {% for comment in question.comments %}
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <p>Commenter: {{ user }}</p>
                  <li>{{ comment.content }}</li>
                  <!-- liking/disliking answers -->
                  {% if my_user.liked_answer(comment) %}
                   <a href="{{ url_for('like', comment_id=comment.id, action='unlike') }}" class="like">Unlike</a>
                  {% else %}
                   <div class="buttonDiv">
                       <a href="{{ url_for('like', comment_id=comment.id, action='like') }}" class="questionButton">Like</a>
                   </div>
                  {% endif %}
                  <p>{{ comment.likes|length }} likes</p>

                  {% if my_user.disliked_answer(comment) %}
                   <a href="{{ url_for('like', comment_id=comment.id, action='undislike') }}" class="like">Undislike</a>
                  {% else %}
                   <a href="{{ url_for('like', comment_id=comment.id, action='dislike') }}" class="like">Dislike</a>
                  {% endif %}
                  <p>{{ comment.dislikes|length }} dislikes</p>
                 {% endfor %}
             </ul>
             {% endif %}
            {% endif %}
        </div>
        <br/>
        <div class="leftText">
            <form action="{{ url_for('new_comment', question_id=question.id) }}" method="post">
                <div class="titleDiv">
                    <h2 class="title">Add an answer</h2>
                </div>
                <div class="form-field">
                    {{ form.comment.label }} <br/> {{ form.comment }}
                </div>
                {{ form.submit }}
            </form>
        </div>
    </body>
</html>

